<div class="container my-4">
  <h2 class="mb-4">Mis Reservas</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped border">
      <thead class="table-dark">
        <tr>
          <th># Reserva</th>
          <th>ID Evento</th>
          <th>ID Cliente</th>
          <th>Estado Actual</th>
        </tr>
      </thead>
      <tbody>
        @for (res of reservations; track res.id) {
          <tr>
            <td>{{ res.id }}</td>
            <td>{{ res.eventId }}</td>
            <td>{{ res.clientId }}</td>
            <td>
              <span class="badge" [ngClass]="{
                'bg-success': res.status === 'Aprobada',
                'bg-warning text-dark': res.status === 'Pendiente',
                'bg-danger': res.status === 'Rechazada'
              }">{{ res.status }}</span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>